
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 6rem;
    background-color: #1e293b;
}

.logo {
    height: 60px;
    width: 60px;
    background-color: #38bdf8;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
    color: #0f172a;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .list {
    display: flex;
}

.list .content {
    list-style: none;
    display: flex; 
    gap: 3rem;
}

.list a {
    text-decoration: none;
    font-size: 18px;
    color: #e2e8f0;
    transition: color 0.3s;
}

.list a:hover {
    color: #38bdf8;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem;
    background-color: #f1f5f9;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;
    width: 200px;
    background-color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #0f172a;

    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .list .content {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}
